.Block {
  margin: 0.25rem 0;
  padding: 0.5rem;
  background: #fafafa;
  border-radius: 0.25rem;
  width: 100%;
}

.Block:focus,
.isDragging,
.blockSelected {
  transition: 0.3s ease-out;
  background: #eeeded;
  outline-color: #eeeded;
  & ~ .dragHandle {
    opacity: 1;
  }
}

.ParentBlock {
  display: flex;
  align-items: center;
  width: 100%;
}

.draggable {
  display: flex;
  align-items: center;
}

.draggable .Block {
  display: inline-block;
  width: calc(100% - 1rem);
}

.draggable:hover .dragHandle {
  opacity: 1;
}

.dragHandle {
  opacity: 0;
  display: inline-block;
  width: 1rem;
  height: 100%;
  transition: 0.3s;
}

// custom blocks
// TODO: доделать завтра
.todo {
  li {
    list-style-type: none;
    min-height: 3ch;
  }
}
